// © Team Whisky

$theme-logo: 'img/logo/favicon.png'
$theme-logo-width: auto
$theme-logo-size: 32px

// palette Colors

$palette-red:             #F44336 //   | | | | | Error     
$palette-pink:            #E91E63 //   | | |o| |            
$palette-purple:          #9C27B0 //   | | | |x|            
$palette-deep-purple:     #673AB7 //   | | | | |            
$palette-indigo:          #3F51B5 //   | | | | |
$palette-blue:            #2196F3 //   | | | | |
$palette-light-blue:      #03A9F4 //   | | | | |
$palette-cyan:            #00BCD4 //   | | | | |
$palette-teal:            #009688 //   |x| |x|x|
$palette-green:           #4CAF50 //   |x|x| | |
$palette-light-green:     #8BC34A //   | |x| | |  Success
$palette-lime:            #CDDC39 //   | | | | |
$palette-yellow:          #FFEB3B //   | | | | |
$palette-amber:           #FFC107 //   | | | | |  Warning
$palette-orange:          #FF9800 //   | | | | |
$palette-deep-orange:     #FF5722 //   | | | | |
$palette-brown:           #795548 //   | | | | |
$palette-grey:            #9E9E9E //   |o|o| | |
$palette-blue-grey:       #607D8B //   |o|o| |o|

$palette-mix: mix($palette-red, $palette-deep-purple)


// iron-grid
$iron-grid-columns:                  12     !default
$iron-grid-col-name:                 col    !default
$iron-grid-row-name:                 row    !default
$iron-grid-gutter:                   12px   !default

$iron-grid-breakpoint-small-name:    s      !default
$iron-grid-breakpoint-small:         480px  !default

$iron-grid-breakpoint-medium-name:   m      !default
$iron-grid-breakpoint-medium:        768px  !default

$iron-grid-breakpoint-large-name:    l      !default
$iron-grid-breakpoint-large:         1200px !default


// Colors vars
$color-percent: 4%

$theme-color:          $palette-teal
$theme-color-dark:     darken($theme-color, $color-percent)
$theme-color-light:    lighten($theme-color, $color-percent)
$theme-color-text:     #f8f8f8


$accent-color:         $palette-blue-grey
$accent-color-dark:    darken($accent-color, $color-percent)
$accent-color-light:   lighten($accent-color, $color-percent)
$accent-color-text:    #f8f8f8

$body-color:           #fafafa
$body-color-text:      #222222

$paper-devider-color:  #E0E0E0
$paper-color:          #fefefe
$paper-color-header:   $paper-color

$paper-gutter: 20px

// Iron - framework
//    Grid

// Paper - design
//    card